body {
    font-family: "Lato", sans-serif;
  }
  
  .sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: grey;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
   
  }
  
  .sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 20px;
    color: black;
    display: block;
    transition: 0.3s;
  }
  
  .sidebar a:hover {
    color: #f1f1f1;
  }
  
  .sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  .openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: grey;
    color: white;
    padding: 10px 15px;
    border: none;
  }
  
  .openbtn:hover {
    background-color: grey;
  }
  
  #main {
    transition: margin-left .5s;
    padding: 16px;
  }

  .head{
      text-align: center;
      font-family: Arial;
      font-weight: bold;
      font-size: 100px;
      background: rgb(238, 186, 16);
  }
  
  .jumbotron{
      background: rgb(238, 186, 16);
  }

  .container .col-xs-3{
    padding-left: 10px;
    padding-right: 10px;
  }

.paragraph{
    text-align: center;
}

h1{
    font-weight: bold;

}

.main-img {
  margin-top: auto;
  padding-top: 10px;
  padding-bottom: 30px;
}

.btn{
  background-color:#873d35;
  color: #414042;
}


* {
  box-sizing: border-box;
}

.column {
  float: left;
  width: 25%;
  padding: 0 10px;
}

.row {
  margin: 0 -5px;
  width: auto;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 16px;
  text-align: center;
  background-color: white;
}

h3{
  color: rgb(238, 186, 16);
  font-weight: bold;
}


  @media screen and (max-height: 450px) {
    .sidebar {padding-top: 15px;}
    .sidebar a {font-size: 18px;}
  }

